C#/MSNgram/MSNgram/Service References/MSNgram/wiab.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.microsoft.com/research/2011/08/wiab" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.microsoft.com/research/2011/08/wiab" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.microsoft.com/research/2011/08/wiab/Imports">
      <xsd:import schemaLocation="http://weblm.research.microsoft.com/wiab.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/research/2011/08/wiab" />
      <xsd:import schemaLocation="http://weblm.research.microsoft.com/wiab.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://weblm.research.microsoft.com/wiab.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://weblm.research.microsoft.com/wiab.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/research/2009/10/webngram/fanout" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWiabService_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetModelsForWordBreaker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsForWordBreaker" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetModelsForWordBreaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsForWordBreakerResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetModelsForPhraseBreaker_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsForPhraseBreaker" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetModelsForPhraseBreaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsForPhraseBreakerResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetProbability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbability" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetProbability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetProbabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilities" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetProbabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProbabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetConditionalProbability_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionalProbability" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetConditionalProbability_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionalProbabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetConditionalProbabilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionalProbabilities" />
  </wsdl:message>
  <wsdl:message name="IWiabService_GetConditionalProbabilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConditionalProbabilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_Generate_InputMessage">
    <wsdl:part name="parameters" element="tns:Generate" />
  </wsdl:message>
  <wsdl:message name="IWiabService_Generate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_WordBreak_InputMessage">
    <wsdl:part name="parameters" element="tns:WordBreak" />
  </wsdl:message>
  <wsdl:message name="IWiabService_WordBreak_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordBreakResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_PhraseBreak_InputMessage">
    <wsdl:part name="parameters" element="tns:PhraseBreak" />
  </wsdl:message>
  <wsdl:message name="IWiabService_PhraseBreak_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhraseBreakResponse" />
  </wsdl:message>
  <wsdl:message name="IWiabService_PhraseBreakTree_InputMessage">
    <wsdl:part name="parameters" element="tns:PhraseBreakTree" />
  </wsdl:message>
  <wsdl:message name="IWiabService_PhraseBreakTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhraseBreakTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="IWiabService">
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModels" message="tns:IWiabService_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsResponse" message="tns:IWiabService_GetModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelsForWordBreaker">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForWordBreaker" message="tns:IWiabService_GetModelsForWordBreaker_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForWordBreakerResponse" message="tns:IWiabService_GetModelsForWordBreaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelsForPhraseBreaker">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForPhraseBreaker" message="tns:IWiabService_GetModelsForPhraseBreaker_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForPhraseBreakerResponse" message="tns:IWiabService_GetModelsForPhraseBreaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbability">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbability" message="tns:IWiabService_GetProbability_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbabilityResponse" message="tns:IWiabService_GetProbability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProbabilities">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbabilities" message="tns:IWiabService_GetProbabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbabilitiesResponse" message="tns:IWiabService_GetProbabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConditionalProbability">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbability" message="tns:IWiabService_GetConditionalProbability_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbabilityResponse" message="tns:IWiabService_GetConditionalProbability_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConditionalProbabilities">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbabilities" message="tns:IWiabService_GetConditionalProbabilities_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbabilitiesResponse" message="tns:IWiabService_GetConditionalProbabilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Generate">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/Generate" message="tns:IWiabService_Generate_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GenerateResponse" message="tns:IWiabService_Generate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordBreak">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/WordBreak" message="tns:IWiabService_WordBreak_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/WordBreakResponse" message="tns:IWiabService_WordBreak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhraseBreak">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreak" message="tns:IWiabService_PhraseBreak_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreakResponse" message="tns:IWiabService_PhraseBreak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhraseBreakTree">
      <wsdl:input wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreakTree" message="tns:IWiabService_PhraseBreakTree_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreakTreeResponse" message="tns:IWiabService_PhraseBreakTree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>