C#/MSNgram/Service References/MSNgram/WiabService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/research/2011/08/wiab" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WiabService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://schemas.microsoft.com/research/2011/08/wiab" location="http://weblm.research.microsoft.com/wiab.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IWiabService" type="i0:IWiabService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelsForWordBreaker">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForWordBreaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelsForPhraseBreaker">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetModelsForPhraseBreaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbability">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProbabilities">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetProbabilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConditionalProbability">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConditionalProbabilities">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/GetConditionalProbabilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Generate">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/Generate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordBreak">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/WordBreak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhraseBreak">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PhraseBreakTree">
      <soap:operation soapAction="http://schemas.microsoft.com/research/2011/08/wiab/IWiabService/PhraseBreakTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WiabService">
    <wsdl:port name="BasicHttpBinding_IWiabService" binding="tns:BasicHttpBinding_IWiabService">
      <soap:address location="http://weblm.research.microsoft.com/wiab.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>