C#/MSNgram/Service References/MSNgram/wiab3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/research/2009/10/webngram/fanout" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/research/2009/10/webngram/fanout" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://weblm.research.microsoft.com/wiab.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TokenSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="backoff" type="xs:float" />
      <xs:element minOccurs="0" name="cookie" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="probabilities" nillable="true" type="q1:ArrayOffloat" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="words" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenSet" nillable="true" type="tns:TokenSet" />
  <xs:complexType name="WordBreakerResultSet">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logprobabilities" nillable="true" type="q3:ArrayOfdouble" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="results" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordBreakerResultSet" nillable="true" type="tns:WordBreakerResultSet" />
</xs:schema>